<div class="container bg-light">

<% @restaurants.each do |restaurant| %>
  <h2><%= link_to restaurant.name, "restaurants/#{restaurant.id}" %></h2>
  <p><%= restaurant.address %></p>
  <p><%= restaurant.category %></p>
  <p><%= restaurant.phone_number %></p>

<% restaurant.reviews.each do |review| %>
  <p><%= review.content %></p>
  <p><%= review.rating %></p>
<% end %>

<% end %>
</div>
