<div class="container m-5 p-5">
  <form>
    <div class="form-group">
      <%= simple_form_for(@restaurant) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class:'form-control sm-3 mb-2' %>
    </div>
    <div>
      <%= f.label :address %>
      <%= f.text_field :address, class:'form-control sm-3 mb-2 pb-5' %>
    </div>
    <div>
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number, class:'form-control sm-3 mb-2 pb-5' %>
    </div>
    <div>
      <%= f.label :category %>
      <%= f.select :category, ['chinese', 'italian', 'japanese', 'french', 'belgian'], class:'form-control sm-3 mb-2 pb-5' %>
    </div>
    <div>
      <%= f.submit %>
      <%= link_to 'Voltar para o menu', restaurants_path, class:'btn bg-light mp-5'%>
    </div>
<% end %>
</div>
</form>

